.sidebar{
    position: fixed;
    top: 55px;
    bottom: 0;
    left: 0;
    width: 60px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    z-index: 200;
    padding-top: 5px;
}

.home-icon, .subscriptions-icon{
    height: 24px;
    margin-bottom: 4px;
}

.shorts-icon, .you-icon{
    height: 43px;
    
}

.sidebar-link{
    height: 74px;
    width: 72px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}

.sidebar-link:hover{
    background-color: rgb(235, 235, 235);
}

.sidebar-link div{
    font-family: Roboto, Arial;
    font-size: 10px;

} 